*
{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
}

p
{
    color: #4C4C4C;
    font-size: 15px;
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    text-align: justify;
    padding-bottom: 10px;
    margin: 0px;
}

a
{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4
{
    font-family: 'Roboto Condensed', sans-serif;
}

h1
{    
    font-weight: 900;
    font-size: 32px;
}

h2
{    
    font-weight: 900;
    font-size: 28px;
}

h3
{    
    font-weight: bold;
    font-size: 24px;
}

h4
{
    font-size: 20px;
}

.top-bg
{
    background-color: #073763;
    padding-top: 6px;
}

.top-contact
{
    color: white;
    font-size: 15px;
    padding-bottom: 6px;
}

.top-contact i
{
    color: white;
}

.top-contact>a,
.top-contact>a:hover
{
    color: white;
}

.top-contact>a>i,
.top-contact>a>i:hover
{
    color: white;
    font-size: 15px;
}

.slidertext
{
    font-size: 30px;
    background-color: rgba(255,255,255,0.8);
    color: #073763;
    padding: 30px 20px;
    font-family: 'Roboto Condensed', sans-serif;
    width: auto;
    white-space: nowrap;
    height: auto;
    display: inline-block;
    line-height: 36px;
}

@media (max-width:1118px)
{
    .slidertext
    {
        font-size: 24px;
        background-color: rgba(255,255,255,0.8);
        color: #073763;
        padding: 20px 10px;
        font-family: 'Roboto Condensed', sans-serif;
        width: auto;
        white-space: nowrap;
        height: auto;
        display: inline-block;
        line-height: 28px;
    }
}

@media (max-width:767px)
{
    .slidertext
    {
        font-size: 14px;
        background-color: rgba(255,255,255,0.8);
        color: #073763;
        padding: 10px;
        font-family: 'Roboto Condensed', sans-serif;
        width: 180px;
        white-space: initial;
        height: auto;
        display: inline-block;
        word-wrap: break-word;
        line-height: 18px;
        margin-top: -30px;
    }
}

.menubg
{
    background-color: #073763;
}

.news
{
    background-color: #073763;
    color: white;
    padding: 10px 28px;
    font-size: 16px;
}

.newstext
{
    background-color: #efefee;
    padding: 10px 0px;
    overflow: hidden;
}

.newslink,.newslink:hover,.newslink:focus
{
    text-decoration:none; 
    color: black;
    padding-right: 30px;
    position: relative;
    padding-left: 30px;
}

.newslink span
{
    color: #094a86;
}

.newslink:before {
    content: "\f0a4";
    font-family: FontAwesome;
    color: #094a86;
    font-size: 18px;
    position: absolute;
    top: -4px;
    left: 0;
}

.footerbg
{
    background-color: #073763;
}

.footercol
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.footercol>h3
{
    font-size: 24px;
    color: white;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 10px;
}

.footercol>p
{
    color: white;
    line-height: 24px;
    font-size: 15px;
}

.footercol>p>a,
.footercol>p>a:hover,
.footercol>p>a:active,
.footercol>p>a:focus
{
    color: white;
    line-height: 24px;
    font-size: 15px;
    text-decoration: none;
}

.footercol>a,
.footercol>a:hover,
.footercol>a:focus,
.footercol>a:active
{
    color: white;
    line-height: 24px;
    font-size: 15px;
    text-decoration: none;
}

.footercol>a>i
{
    color: white;
    line-height: 24px;
    font-size: 36px;
    text-decoration: none;
    margin-right: 3px;
}

.pcube
{
    padding-bottom: 10px;
    padding-top: 10px;
    color: #666666;
    font-size: 14px;
}

.pcube>a,
.pcube>a:hover,
.pcube>a:active,
.pcube>a:focus
{
    color: #666666;
    font-size: 14px;
    text-decoration: none;
}

.abtbg
{
    background: url("../images/abtbg.png") repeat-x center bottom;
    background-color: #c8c8c8;
}

.abtbgrow
{
    padding-top: 30px;
    padding-bottom: 30px;
}

.abttitle
{
    color: white;
    font-size: 36px;
    margin: 10px 0 6px 0;
    line-height: 42px;
    text-align: center;
}

.sppagespace
{
    margin-bottom: 30px;
    margin-top: 30px;
}


.stbox1
        {
            margin-bottom: 30px;
        }
        
        .stdetail1
        {
            border: 1px solid #b3b1b1;
            width: 100%;
            position: relative;
        }
        
        .stabicon1
        {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            font-size: 80px;
            opacity: 0;
            transition: all 0.4s ease-in-out;
        }
        
        .stdetail1:hover .stabicon1
        {
            opacity: 0.1;
        }
        
        .stflexbox1
        {
            display: flex;
            align-items: center;
            padding: 20px 0px;
            z-index: 99;
        }
        
        .stflexbox1 > i
        {
            font-size: 46px;
            padding-right: 10px;
            display: inline-block;
            width: 16%;
        }
        
        .stflexbox1 > a,.stflexbox1 > a:hover,.stflexbox1 > a:focus
        {
            font-family: 'Roboto Condensed' , sans-serif;
            font-size: 26px;
            color: #686869;
            text-decoration: none;
            padding-left: 10px;
            z-index: 9999;
        }


@media (min-width: 768px) and (max-width: 1200px)
{
    .stflexbox1>i
    {
        font-size: 24px;
        padding-right: 10px;
        display: inline-block;
        width: 16%;
    }

    .stflexbox1>a
    {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 18px;
        color: #686869;
        text-decoration: none;
        padding-left: 10px;
    }
}

@media (max-width: 767px)
{
    .stflexbox1>i
    {
        font-size: 26px;
        padding-right: 10px;
        display: inline-block;
        width: 16%;
    }

    .stflexbox1>a
    {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 16px;
        color: #686869;
        text-decoration: none;
        padding-left: 10px;
    }
}




.logo
{
    display: none;
}

#cssmenu
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
}

#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #head-mobile {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}
#cssmenu #head-mobile {
    display: none
}
#cssmenu > ul > li {
    float: left
}
#cssmenu > ul > li > a {    
    text-decoration: none;
    color: #ffffff;
    padding: 16px 18px;
    font-size: 16px;
    font-weight: 500;
    background-color: #073763;
    text-align: -webkit-match-parent;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;	
}
#cssmenu > ul > li:hover > a,
#cssmenu ul li.active a {
    color: #ffffff;
    background-color: #094a86;
}
#cssmenu > ul > li:hover,
#cssmenu ul li.active:hover,
#cssmenu ul li.active,
#cssmenu ul li.has-sub.active:hover {
    background: #094a86!important;
    -webkit-transition: background .3s ease;
    -ms-transition: background .3s ease;
    transition: background .3s ease;
}
#cssmenu > ul > li.has-sub > a {
    padding-right: 30px
}
#cssmenu > ul > li.has-sub > a:after {
    position: absolute;
    top: 15px;
    right: 11px;
    font-size: 14px;
    font-family: FontAwesome;
    content: '\f0d7';
    color: #ffffff;
}
/*#cssmenu > ul > li.has-sub > a:before {
    position: absolute;
    top: 19px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease
}*/
#cssmenu > ul > li.has-sub:hover > a:after {
    color: #ffffff;
}
#cssmenu ul ul {
    position: absolute;
    left: auto;
    z-index: -1;
    background-color: #094a86;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
#cssmenu ul ul li {
    height: 0;
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
#cssmenu li:hover > ul {
    left: auto;
    opacity: 1;
    z-index: 999;
}
#cssmenu li:hover > ul > li {
    height: auto;
}
#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
}

.menuspecclass
{
    margin-right: auto;
    right: 100%;
    margin-left: -100%;
}

#cssmenu ul ul li a {
    min-width: 200px;
    white-space: nowrap;
    text-decoration: none;
    color: #ffffff;
    padding: 12px 20px;
    font-size: 14px;
    text-align: -webkit-match-parent;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}
#cssmenu ul ul li.has-sub > a:after {
    position: absolute;
    top: 14px;
    right: 11px;
    font-size: 14px;
    font-family: FontAwesome;
    content: '\f0da';
    color: #ffffff;
}
/*#cssmenu ul ul li.has-sub > a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease
}*/
#cssmenu ul ul li.has-sub:hover > a:after {
    top: 14px;
    height: 0;
    color: #ffffff;
}




/*#cssmenu ul ul li.has-sub:hover,
#cssmenu ul li.has-sub ul li.has-sub ul li:hover {
    background: #363636;
}
#cssmenu ul ul ul li.active a {
    border-left: 1px solid #333
}
#cssmenu > ul > li.has-sub > ul > li.active > a,
#cssmenu > ul ul > li.has-sub > ul > li.active> a {
    border-top: 1px solid #333
}*/



@media screen and (max-width: 991px) {    
    .logo 
    {
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        padding: 0;
        float: none;
        position: relative;
        display: block;
    }
    .logo a
    {
        color: white;
        padding: 10px;
        display: inline-block;
        font-size: 16px;
    }
    nav {
        width: 100%;
    }
    #cssmenu {
        width: 100%;
        display: block !important;
    }
    #cssmenu ul {
        width: 100%;
        display: none
    }
    #cssmenu ul li {
        width: 100%;
        border-top: 1px solid #AFAFAF;
    }

    /*#cssmenu ul li:hover {
    background: #363636;
}*/

    #cssmenu ul ul li,
    #cssmenu li:hover > ul > li {
        height: auto
    }
    #cssmenu ul li a,
    #cssmenu ul ul li a {
        width: 100%;
        border-bottom: 0;
        padding: 14px 10px;
    }
    #cssmenu > ul > li {
        float: none
    }
    #cssmenu ul ul li a {
        padding-left: 25px
    }


    /*#cssmenu ul ul li {
    background: #333!important;
}
#cssmenu ul ul li:hover {
    background: #363636!important
}*/


    #cssmenu ul ul ul li a {
        padding-left: 35px
    }
    #cssmenu ul ul li a {
        color: #ffffff;
        background: none
    }
    #cssmenu ul ul li:hover > a,
    #cssmenu ul ul li.active > a {
        color: #ffffff;
    }
    #cssmenu ul ul,
    #cssmenu ul ul ul {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: left;
        padding-bottom: 0px;
        padding-top: 0px;
        opacity: 1;
        z-index: 1;
        transition: all 0s ease-in-out;
    }
    #cssmenu > ul > li.has-sub > a:after,
    #cssmenu > ul > li.has-sub > a:before,
    #cssmenu ul ul > li.has-sub > a:after,
    #cssmenu ul ul > li.has-sub > a:before {
        display: none
    }
    #cssmenu #head-mobile {
        display: block;
        padding: 12px;
        color: #ddd;
        cursor: pointer;
        font-size: 12px;
        font-weight: 400;
    }
    .ddmenu-button {
        width: 55px;
        height: 46px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 12399994;
    }
    .ddmenu-button:after {
        position: absolute;
        top: 22px;
        right: 20px;
        display: block;
        height: 8px;
        width: 20px;
        border-top: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
        content: ''
    }
    .ddmenu-button:before {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        position: absolute;
        top: 16px;
        right: 20px;
        display: block;
        height: 2px;
        width: 20px;
        background: #ffffff;
        content: ''
    }
    .ddmenu-button.menu-opened:after {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        top: 23px;
        border: 0;
        height: 2px;
        width: 19px;
        background: #ffffff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg)
    }
    .ddmenu-button.menu-opened:before {
        top: 23px;
        background: #ffffff;
        width: 19px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
    #cssmenu .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid #AFAFAF;
        height: 100%;
        width: 46px;
        cursor: pointer
    }
    #cssmenu .submenu-button.submenu-opened {
        background: transparent;
    }
    #cssmenu ul ul .submenu-button {
        height: 100%;
        width: 46px
    }
    #cssmenu .submenu-button:after {
        position: absolute;
        top: 14px;
        right: 19px;
        font-size: 14px;
        font-family: FontAwesome;
        content: '\f0d7';
        color: #ffffff;
    }
    #cssmenu ul ul .submenu-button:after {
        top: 14px;
        right: 19px;
    }
    #cssmenu .submenu-button.submenu-opened:after {
        font-size: 14px;
        font-family: FontAwesome;
        content: '\f0d8';
        color: #ffffff;
    }

    /*#cssmenu .submenu-button:before {
        position: absolute;
        top: 19px;
        right: 22px;
        display: block;
        width: 2px;
        height: 8px;
        background: #ddd;
        content: ''
    }	
    #cssmenu ul ul .submenu-button:before {
        top: 12px;
        right: 16px;
    }
    #cssmenu .submenu-button.submenu-opened:before {
        display: none
    }
        
    #cssmenu ul ul ul li.active a {
        border-left: none
    }
    #cssmenu > ul > li.has-sub > ul > li.active > a,
    #cssmenu > ul ul > li.has-sub > ul > li.active > a {
        border-top: none
    }*/
}

.spectable1 thead tr
{
    background-color: #073763;
    color: white;
}

.spectable1 thead tr th
{
    text-align: center;
}

.spectable1 tbody tr td:first-child
{
    text-align: center;
}

.spectable2 thead tr
{
    background-color: #073763;
    color: white;
}

.spectable2 tr:nth-of-type(even)
{
    background-color: #f0f8ff;
}

.spectable2 thead tr th
{
    text-align: center;
}

.spectable2 tbody tr td:first-child
{
    text-align: center;
}



.flexbox5
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.h-pdiv
{
    background-color: white;
    display: block;
    margin-bottom: 30px;
    position: relative;
}

.flexbox3
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
    height: 231px;
}

.flexbox3 a
{
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flexbox3 a img
{
    max-height: 100%;
}

.h-pname
{
    background-color: #073763;
    padding: 8px;
    text-align: center;
}

.h-pname > a, .h-pname > a:hover, .h-pname > a:focus, .h-pname > a:active
{
    color: white;
    font-size: 16px;
    line-height: 20px;
}

.product-bg
{
    background-color: #f8f7f7;
    padding-top: 40px;
    padding-bottom: 30px;
}

.image-border
{
    border: 6px solid #abadb0;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.image-border:hover
{
    border: 6px solid #094a86;
}

.scroll-div-main
{
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    height: 142px;
    padding: 0px;
    margin-bottom: 26px;
}

.scroll-image
{
    margin: 8px 12px 8px 0;
    max-width: 115px;
    display: inline-block;
    cursor: pointer;
}

.scroll-div-main::-webkit-scrollbar
{
    width: 12px;
    height: 8px;
}

.scroll-div-main::-webkit-scrollbar-track
{
    background-color: #b7b7b7;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.scroll-div-main::-webkit-scrollbar-thumb
{
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #094a86;
}

.font17
{
    font-size: 17px;
}

@media (max-width:767px)
{
    .small-mg-bt-10
    {
        margin-bottom: 10px;
    }
}

.myButton, .myButton:hover, .myButton:focus, .myButton:active
{
    background-color: #094a86;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    font-size: 16px;
}

.change-float
{
    float: right;
}

@media (max-width: 767px)
{
    .change-float
    {
        float: left;
    }
}

@media (max-width: 767px)
{
    .inline-block
    {
        display: inline-block;
    }
}

hr
{
    border-color: #b7b7b7;
}

.advice-icon
{
    font-size: 30px;
    padding-right: 10px;
    color: #094a86;
}

.advice-title
{
    color: #303b45;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
    font-weight: bold;
}

.advice-no
{
    color: #094a86;
    font-size: 18px;
    margin: 0;
}

.page-detail-bg
{
    padding-bottom: 20px;
    padding-top: 30px;
}

.page-desc-title
{
    margin: 30px 0 15px 0px;
    position: relative;
    padding-bottom: 15px;
}

.page-desc-title:before
{
    content: '';
    display: inline-block;
    width: 40px;
    height: 3px;
    background-color: #094a86;
    position: absolute;
    bottom: 1px;
    left: 0px;
}

.pinline-blk
{
    display: inline-block;
    width: 100%;
    height: 500px;
    padding: 10px;
    border: 6px solid #abadb0;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.flexbox10
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.flexbox10 > img
{
    max-height: 100%;
}

.pinline-blk:hover
{
    border: 6px solid #094a86;
}

@media (min-width: 991px) and (max-width: 1200px)
{
    .pinline-blk
    {
        height: 410px;
    }
}

@media (min-width: 768px) and (max-width: 991px)
{
    .pinline-blk
    {
        height: 311px;
    }
}

@media (max-width: 767px)
{
    .pinline-blk
    {
        height: 500px;
    }
}

@media (max-width: 500px)
{
    .pinline-blk
    {
        height: 450px;
    }
}

@media (max-width: 400px)
{
    .pinline-blk
    {
        height: 360px;
    }
}

@media (max-width: 400px)
{
    .pinline-blk
    {
        height: 270px;
    }
}

.scroll-imagenew
{
    margin: 8px 12px 0px 0;
    width: 126px;
    height: 114px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    padding: 4px;
    border: 6px solid #abadb0;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.scroll-imagenew:hover
{
    border: 6px solid #094a86;
}

.flexbox11
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.flexbox11 > img
{
    max-height: 100%;
}

.ribbon
{
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span
{
    font-size: 13px;
    color: #FFF;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #094a86;
    background: linear-gradient(#073763 0%, #094a86 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.ribbon span::before
{
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #094a86;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #094a86;
}

.ribbon span::after
{
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #094a86;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #094a86;
}

.pagination > li > a, .pagination > li > span, .pagination > li > a:hover, .pagination > li > span:hover
{
    color: #094a86;
    border: 1px solid #094a86;
    background-color: white;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover
{
    background-color: #094a86;
    border-color: #094a86;
}

.mgbt15
{
    margin-bottom: 15px;
}

.par-lbl
{
    font-size: 15px;
}

.par-txt
{
    border: 1px solid #9b9a9f;
    padding: 6px 10px;
    font-size: 15px;
    width: 100%;
    display: block;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.par-btn
{
    background-color: #073763;
    display: inline-block;
    color: white;
    font-size: 16px;
    padding: 10px 62px;
    border: none;
}

